{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="{% static '/css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<title>CrackShop</title>
	{% block extra_head %}
	
	{% endblock extra_head %}
</head>
	<body>
		{% if messages %}
		{% for message in messages %}
		<div {% if message.tags %} class="d-inline-block rounded alert alert-{{ message.tags }}" {% endif %} role="alert">
			<span>{{ message }}</span>
		</div>
		{% endfor %}
		{% endif %}

		{% include 'header.html'%}

		{% block content %}
		{% endblock %}

		{% include 'footer.html' %}
		{% include 'scripts.html' %}
		{% block extra_scripts %}
		
		{% endblock extra_scripts %}
	</body>
</html>
