{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="{% static '/css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	<title>CrackShop</title>
</head>
	<body>
		{% if messages %}
		<ul class="messages mt-5 pt-4">
			{% for message in messages %}
			<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% include 'header.html'%}

		{% block content %}
		{% endblock %}

		{% include 'footer.html' %}
		{% include 'scripts.html' %}

	</body>
</html>
