{% load cart_template_tags %}
<header class="text-white d-flex align-items-center shadow-sm fixed-top">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="logo p-2 rounded-lg d-inline-block">
					<a href="/">CrackShop</a>
				</div>
			</div>
			<div class="col-6 d-flex align-items-center">
				<div class="boxSearch p-1 rounded-pill">
					<input type="text" name="search" placeholder="Czego szukasz?" class="text-center text-white">
					<button type="submit" class="searchButton"><i class="fas fa-search"></i></button>
				</div>
			</div>
			<div class="col">
				{% if request.user.is_authenticated %}
					<a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
					<span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
					<i class="fas fa-shopping-cart"></i>
					<span class="clearfix d-none d-sm-inline-block"> Cart </span>
					</a>
					<a href="{% url 'account_logout' %}">
						<button type="submit" class="btn btn-light float-right">Logout</button>
					</a>
				{% else %}
					<a href="{% url 'account_login' %}">
						<button type="submit" class="btn btn-light float-right">Login</button>
					</a>
					<a href="{% url 'account_signup' %}">
						<button type="submit" class="btn btn-light float-right">Signup</button>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</header>