{% extends "base.html" %}

{% block content %}

     <h2 class="mt-5">Name: {{ object.title }}</h2>
     <h4>
          Price: 
          {% if object.discount_price %}
               <del>{{ object.discount_price }} PLN</del>
               {{ object.price }} PLN
          {% else %}
               {{ object.price }} PLN
          {% endif %}
     </h4>
     <p>{{ object.description }}</p>
     <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">Add to cart</a>
     <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">Remove from cart</a>
{% endblock content %}