body{
	background-color: #E0E0E0;
}
header{
	background-color: #363636;
	min-height: 60px;
}
/*header css*/
.logo{
	background-color: #565656;
}
.boxSearch{
	width: 100%;
	background-color: #565656;
}
.searchButton{
	width: 8%;
	box-sizing: border-box;
	border: 0px;
	background-color: transparent;
	color: #363636;
}
input[name=search]{
	width: 90%;
	background-color: transparent;
	border: 0px;
}
/*header css end*/
/*main css*/
.product{
	background-color: #363636;
}
.imageProduct{
	height: 150px;
	width: 150px;
}
.productInfo>p{
	background-color: #565656
}
.rate{
	position: absolute;
	right: 30px;
	top: 10px;
	background-color: #565656
}
/*second stage*/
.secondStage{
	position: absolute;
	height: calc(100vh - 60px);
	top: 60px;
	left: 0px;
	width: 100%;
}
.leftMain{
	float: left;
	background-color: #363636;
	width: 30%;
	height: 100%;
	overflow-y: scroll;
}
.centerMain{
	background-color: #E0E0E0;
	width: 70%;
	height: 100%;
	float: left;
	position: relative;
	overflow-y: scroll;
}
.product-left{
	background-color: #C4C4C4;
}
